{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 33, "knowledge_revision": 72, "git_revision": "", "hash": "e915d421502b06534c180675c41e20f8", "format-version": 4, "code-base-name": "default", "filename": "events_backend_workspace/events_backend/requirements.txt", "revision_history": [{"72": ""}]}